$DefaultColor: #344458;
$DefaultTextColor: #FFFFFF;

.nav {
    .multi-button {
        z-index:1;
        position: absolute;
        top: 3rem;
        left: 3rem;
        border-radius:100%;
        transform: translate(-80%, -50%);
        transition: .25s cubic-bezier(0.25, 0, 0, 1);
        animation: move .25s normal forwards ease-in-out;
        @keyframes move {
            from {width: 0rem;height:0rem;}
            to {width: 20rem;height:20rem;}
        }
        @media only screen and (min-width: 768px) {
            height: auto;
            transform: translate(-50%, -50%);
        }
        button {
            opacity: 0.8;
            outline: none;
            display: grid;
            place-items: center;
            position: absolute;
            width: 4rem;
            height: 4rem;
            font-size: 2em;
            border: none;
            border-radius: 100%;
            background: $DefaultColor;
            color: $DefaultTextColor;
            transform: translate(-50%, -50%);
            cursor: pointer;
            transition: .25s cubic-bezier(0.25, 0, 0, 1);
            box-shadow:0 0 0rem -.25rem $DefaultColor;
            &:hover {
                background: $DefaultTextColor;
                color: $DefaultColor;
                box-shadow:0 0 1rem -.25rem $DefaultColor;
            }
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ * { //3 Options
                &:nth-child(1) {
                    top: 48%;
                    left: 26%;
                    @media only screen and (min-width: 768px) {
                        left: 18%;
                        top: 48%;
                    }
                }
                &:nth-child(2) {
                    left: 50%;
                    top: 48%;
                    @media only screen and (min-width: 768px) {
                        left: 28%;
                        top: 76%;
                    }
                    width: 5rem;
                    height: 5rem;
                    font-size: 3em;
                }
                &:nth-child(3) {
                    top: 48%;
                    left: 4%;
                    @media only screen and (min-width: 768px) {
                        top: 83%;
                        left: 57%;
                    }
                }
            }
        }
    }
}